.perfil{
    margin-left: 35%;
    margin-top: 10%;
}

.buscador{
    margin-left: 1%;
    width:100% ;
}

.botones{
    
    margin-left: 35%;
   
    
}

.login{
    margin-left: 40%; 
}

.completarlog{
    margin-left: 20%; 
    width: 50%;
}

.botonlogin{
    margin-left: 40%;
}

.registrate{
    margin-top: 2%;
    margin-left: 18%;
}

.a{
    margin-left: 7%;
}

.recuperar{
    margin-left: 35%;
}

.quiero{
    margin-left: 38%;
    width: 100%;
}

.horarios{
    
    margin-left: 35%;
   
    
}

.selecthora{
    margin-left: 35%;
}