

.buscador{
    margin-left: 1%;
    width:100% ;
}

.botones{
    
    margin-left: 35%;
   
    
}

.registrate{
    margin-top: 2%;
    margin-left: 18%;
}




.horarios{
    
    /* margin-left: 35%; */
   
    
}
 
/* .selecthora{
    width: 50%;
}  */

